nav{
    background-color: #1f1f1f;
}
nav .logo a {
    color:rgb(255, 255, 255);
    float:left;
    font-size: 27px;
    font-weight:500;
    line-height: 70px;
    padding-left: 15px;
    text-decoration: none;
}

*{
    color: white;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
nav:after{
    content: " ";
    clear: both;
    display: table;
}
nav ul{
    float:right;
    list-style: none;
    margin-right: 50px;
    position:relative;

}
nav ul li{
    
    display: inline-block;
    background-color:#1f1f1f;
    margin:0 5px;
}
nav ul li a{
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 9px 15px;
    
}
nav ul ul{
    position:absolute;
    top:90px;
    opacity:0;
    border-top: 3px solid red;
    visibility: hidden;
    transition: .3s;
}
nav ul ul li a{
    line-height: 50px;
    border-top: none;
}
nav ul ul li a:hover{
    color:red;
    box-shadow: none;
}
nav ul li a:hover{
    color:red;
    border-radius: 5px;
    box-shadow: 0 0 5px red,
                0 0 5px crimson;
}
nav ul li:hover > ul{
    top:70px;
    opacity:1;
    visibility:visible;
}
nav ul ul li{
    position:relative;
    margin:0px;
    width: 180px;
    float:none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0.3);
}
.show,.icon, input{
    display:none;
}

.title{
    margin-left: 8px;
    font-weight: 600;
    font-size:30;
    float:right;
    padding-right: 130px;
}
.text{
    padding-top: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 28;
    margin-right: 200px;
}
.text .clr{
    color:#ff0303;
    font-weight:600;
}
.body{
    float:right;
}

html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: Poppins;
}
.body .dash{
    color:red;
    background-color: #201d1d;
}
.dash{
    color:red;
    background-color: #201d1d;
}

.dash1{
    display:none;
}

html{
    background-color:#201d1d;
}

@media all and (max-width: 745px){
    html,body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        overflow-x: hidden;
    }
    nav ul{
        margin-right: 0px;
        float:left;
    }
    nav ul li a{
        padding-left: 20px;
    }
    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width:100%;
    }
    nav ul ul{
        top: 50px;
        position:static;
        border-top:none;
        float:none;
        display:none;
        opacity:1;
        visibility:visible;
    }
    .show{
        display:block;
        color:white;
        font-size: 16px;
        padding:0 20px;
        cursor:pointer;
    }
    nav ul li a:hover{
        box-shadow:none;
    }
    .show:hover{
        color:red;
    }
    .icon{
        display:block;
        color:white;
        size: 10px;
        position:absolute;
        right:40px;
        line-height:100px;
        top: 20px;
        font-size:25px;
        cursor:pointer;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    .show + a, ul{
        display:none;
    }
    [id^=btn]:checked + ul{
        display:block;
        line-height: 50px;
    }
    .text .clr{
        color:#ff0303;
        font-weight:600;
    }
    .dash{
        display:none;        
    }
    .dash1{
        display:contents;
    }
    
}